div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;

}
#box1{
    position:static;
    background-image: url("cody-scott-milewski-aCnkRlBD0i4-unsplash.jpg");
    height : 500px;
    width:500px;
    background-size:cover;
}
#box2{
    position: relative;
    top:20px;
    z-index: 2;
}
#box3{
    position: absolute;
    top: 100px;
    z-index: 5;
    
}
#box4{
    position: fixed;
    bottom: 20px;

}